<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/vue.min.js"></script>
</head>
<body class="exercicio">
    <div id="app">
        <p v-for="(aluno,i) in alunos">
            {{i+1}}) {{aluno.nome}} {{aluno.nota}}
            <span v-if="aluno.nota >= 9">Quadro de honra</span>
            <span v-else-if="aluno.nota >= 7">Aprovado</span>
            <span v-else-if="aluno.nota > 0 "> Reprovado</span>

        </p>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                alunos:[
                    {nome: "ana", nota:7.8},
                    {nome: "bia",nota: 7.1},
                    {nome: "carlos",nota:9.8},
                    {nome:"Daniel",nota:2.6}
                ]
            }
        })
    </script>
</body>
</html>